/*En este archivo incluimos todos los estilos mediante clases para reutilizarlos en las diferentes páginas del
formulario, puesto que el objetivo principal de la práctica no es la maquetación voy a obviar comentar los estilos que
se aplican en cada clase o a cada elemento.*/

.form-wrapper {
    margin: 0 auto;
    width: 1000px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-form {
    padding: 10px;
}

.form-element {
    display: flex;
    padding: 10px;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
}

.form-element-radio {
    display: flex;
    padding: 10px;
    align-content: center;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
}

.inline-label {
    white-space: nowrap;
    max-width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    overflow: hidden;
    float:left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
}

td, th {
    border: 2px solid #6bb76f;
    text-align: left;
    padding: 8px;
}

label, p {
    font-family: "Open Sans", serif;
    display: block;
    text-align: center;
    line-height: 150%;
    text-transform: uppercase;
}

input[type=text], input[type=email], input[type=number], input[type=password], input[type=date], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #63ab68;
    border-radius: 4px;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=date]:focus,select:focus {
    border: 2px solid #172c0d;
}

.center {
    text-align: center;
}

input[type=submit] {
    margin: 0 auto;
    background-color: #52b491;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
}

input[type=submit]:hover {
    background-color: #6bb76f;
}

.login-msg {
    font-family: "Open Sans", serif;
    display: block;
    text-align: center;
    line-height: 150%;
    font-weight: bold;
}

.text-red {
    color: red;
}

.login-link {
    font-family: "Open Sans", serif;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    background-color: #52b491;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 50px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 20px;
}

.button:hover {
    background-color: #6bb76f;
}

.button.button-small {
    padding: 10px 30px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.disabled {
    filter: invert(100%);
    pointer-events: none;
}

.op-button {
    width: 15px;
    padding: 5px;
}